.filter-container {
    display: flex;
    flex-direction: row;
} 
.search-container{
    box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px
}
.horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

label {
    margin-left: .5rem;
}
.family-checkboxes {
    padding: 1rem;
}

.genus-checkboxes {
    padding: 1rem;
}
.search-filter-select {
    margin-top: 1rem;
    width: 15em;
    outline: none;
    border: none;
    height: 38px;
    box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px
}

@media screen and (max-width: 768px) {
    .filter-container {
        flex-direction: column;
    }
}