.fruit-card {
    background-color: #ffffff;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fruit-name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.fruit-detail-container {
    margin: 2rem 1.5rem;
}

.fruit-detail {
    font-weight: bold;
    margin: 10px 0;
}

.fruit-detail-span {
    font-weight: 400;
}