.About{
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: rgb(76,255,104);
  background: linear-gradient(36deg, rgba(76,255,104,1) 0%, rgba(90,255,94,1) 50%, rgba(0,212,255,1) 100%); 
}

/* .about-body {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
} */

.content-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 5rem 5rem 3rem 8rem; */
  justify-content: space-around;
  margin-bottom: 50px;
  font-size: 1.6rem;
}

.img-content-1 {
  width: 400px;
  height: 300px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px
}

.img-content-2 {
  width: 400px;
  height: 300px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px
}

.content-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 5rem 5rem 3rem 8rem; */
  justify-content: space-around;
  margin-bottom: 50px;
  font-size: 1.2rem;
}


.text-1 {
  height: 200px;
  width: 400px;
  text-align: left;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2rem;
}

.cardItem {
  height: 600px;
  width: 300px;
  margin: 3rem;
  background-color: #D0F0C0;
  border-radius: 20px;
  box-shadow:
  rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px
}


.profile-image {
  height: auto;
  max-width: 100%;
  display: block;
  margin: none;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  padding: 10px;
  text-align: center;
}


.cardItem p {
  padding: 10 px;
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

@media (min-width: 1100px){
  .text-1 {
    height: 200px;
    width: 600px;
    text-align: left;
  }

  .img-content-1 {
    width: 600px;
    height: 400px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow:
      rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px
  }
  
  .img-content-2 {
    width: 600px;
    height: 400px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow:
      rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px
  }
}

@media (max-width: 820px){
  .content-2{
    margin-bottom: 110px;
  }
}