.nav_style {
    background-color: #EBFFF5;
    justify-content: space-between;
    justify-self: center;
    font-size: 1.1rem;

}


.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

.img {
    width: 30px;
    height: 30px;
    margin: 0 10px;

}

.links {
    /* display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center; */
    margin: 0 12px;
}

